{
  "presets": [
    ["env",
      {
        "targets": {
          "browsers": ["last 25 Chrome versions"]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}